:root {
    --gray-color: #545454;
}

/* Static fonts */
@font-face
{
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/Inter-Light.woff2") format("woff2");
}

@font-face
{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face
{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F1F1F1;
}

.btn {
    width: fit-content;
    font-size: 1.2rem;
    padding: 1.1rem 3.2rem;
    border: none;
    background-color: #1F1F1F;
    color: #fff;
    border: 1px solid #1F1F1F;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 3rem 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.header__logo {
    width: 10rem;
}

.header__logo--img {
    width: 100%;
}

.header__menu-list {
    display: flex;
    gap: 1rem;
    z-index: 100;
}

.header__menu-item {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-color);
}

.header__menu-item:hover {
    color: #000;
}


.header__menu-icon {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    display: none;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.hero__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero__content--title {
    font-size: 6rem;
    font-weight: 600;
}

.hero__content--description {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-color);
}

.hero__content--status {
    display: flex;
    gap: 1rem;
}

.hero__content--status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__content--status-item--title {
    font-size: 2.5rem;
    font-weight: 300;
}

.hero__content--status-item--text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color);
}

.hero__scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
}

.hero__scroll--icon {
    width: 2rem;
    height: 2rem;
}

.hero__images {
    margin-top: 5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

.hero__images--item {
    width: 80%;
    position: relative;
}

.hero__images--item--img-1 {
    width: 100%;
}

.hero__images--item--img-2 {
    margin-left: -40%;
    width: 120%;
    position: relative;
}

.hero__images--item:nth-child(2):before {
    content: '';
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: -20px;
    left: -180px;
    border: 1px solid #000;
    z-index: -1;
}

.services {
    width: 100%;
    padding: 5rem 0;
}

.services__title {
    font-size: 3rem;
    font-weight: 600;
}

.services__title::before {
    content: '------';
    letter-spacing: -10px;
    font-weight: 300;
    padding-right: 1rem;
}

.services__items {
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
}

.services__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services__item--icon {
    width: 3rem;
    height: 3rem;
}

.services__item--title {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services__item--description {
    width: 80%;
    margin-left: auto;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--gray-color);
}

.design {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.design__image {
    width: 50%;
}

.design__image--img {
    width: 100%;
}

.design__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.design__content--title {
    font-size: 3rem;
    font-weight: 600;
}

.design__content--description {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--gray-color);
}

.design__content--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.design__content--list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DADADA;
    cursor: pointer;
}

.design__content--list-item--title {
    font-size: 1.2rem;
    font-weight: 600;
}

.design__content--list-item--icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s ease;
}

.design__content--list-item:hover .design__content--list-item--icon {
    transform: rotate(90deg);
}


.dream {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.dream__content {
    width: 50%;
}

.dream__image {
    width: 50%;
}

.dream__image--img {
    width: 100%;
}

.dream__content--title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.dream__content--list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.dream__content--list-item {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    position: relative;
}

.dream__content--list-item:not(:last-child)::before {
    content: '';
    width: 1px;
    height: 60%;
    background-color: #DADADA;
    position: absolute;
    left: 25px;
    bottom: -20px;
}

.dream__content--list-item--icon {
    background-color: #000;
    padding: 0.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.dream__content--list-item--text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dream__content--list-item--text--title {
    font-size: 1.2rem;
    font-weight: 600;
}

.dream__content--list-item--text--description {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--gray-color);
}


.testimonials {
    width: 100%;
    padding: 5rem 0 10rem 0;
    display: flex;
    gap: 4rem;
    position: relative;
}

.testimonials__arrows {
    position: absolute;
    bottom: 5rem;
    left: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.testimonials__arrows--arrow {
    background-color: #F1F1F1;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.testimonials__arrows--arrow:hover {
    background-color: #ccc;
    transform: scale(1.1);
}

.testimonials__image {
    width: 50%;
}

.testimonials__image--img {
    width: 100%;
}

.testimonials__content {
    width: 50%;
    position: relative;
}

.testimonials__content--title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.testimonials__content--list {
    display: flex;
    gap: 3rem;
    position: absolute;
    bottom: -5rem;
    right: 0;
}

.testimonials__content--list--card {
    min-width: 28rem;
    background-color: #1F1F1F;
    color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.testimonials__content--list--card--quote {
    font-family: sans-serif;
    font-size: 7rem;
    font-weight: 600;
}

.testimonials__content--list--card--msg {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -5rem;
}

.testimonials__content--list--card--user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonials__content--list--card--user--img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.testimonials__content--list--card--user--info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.testimonials__content--list--card--user--info--name {
    font-size: 1.2rem;
    font-weight: 600;
}

.testimonials__content--list--card--user--info--city {
    font-size: 1rem;
    font-weight: 400;
    color: #c1bebe;
}


.subscribe {
    width: 60%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.subscribe__title {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.subscribe__description {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--gray-color);
}

.subscribe__form {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 1rem;
    width: 100%;
}

.subscribe__form--icon {
    width: 1.5rem;
    height: 1.5rem;
}

.subscribe__form--input {
    flex: 1;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    width: 20rem;
}


.subscribe__form--button {
    flex: 0;
}


.footer {
    width: 100%;
    margin-top: -7rem;
    padding: 10rem 0 5rem 0;
    background-color: #1F1F1F;
    color: #fff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.footer__content--logo {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__content--logo--img {
    width: 10rem;
}

.footer__content--logo--text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #D1D1D1;
}

.footer__content--logo--list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__content--logo--list--item {
    width: 2rem;
    height: 2rem;
    background-color: #313131;
    padding: 0.5rem;
    cursor: pointer;
}

.footer__content--links--list--item:first-child .footer__content--links--list--item--link {
    font-weight: 600;
    font-size: 1.5rem;
}

.footer__content--links--list--item:not(:first-child) .footer__content--links--list--item--link {
    color: #D1D1D1;
}

.footer__content--logo--list--item--icon {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.footer__content--logo--list--item--icon:hover {
    transform: scale(1.5);
}

.footer__content--links {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;
}

.footer__content--links--list {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__content--links--list--item--link {
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}

.footer__content--links--list--item--link:hover {
    color: #c1bebe;
}


